* {
    color: #8ac4ff;
    font-family: "Times New Roman", serif;
}

/* Navbar and website name */
header {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: grey;
    background-color: #8ac4ff;
}

header h1, nav, li {
    padding: 20px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

/* Information sections */
body {
    display: flex;
    flex-direction: column;
}

body h2, h3, p {
    padding: 20px;
}

body section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* outline: 1px solid red; */
}

body section ul {
    list-style-type: none;
    /* outline: 1px solid blue; */
}

body section a {
    text-decoration: none;
}


/* Contact Me */
section#contact_me ul {
    display: flex;
    flex-direction: row;
}