* {
    color: #8ac4ff;
    font-family: "Times New Roman", serif;
}

/* Navbar and website name */
header {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1, nav, li {
    padding: 20px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}